
/* Colors */
$orange: #ffb800;
$light-gray: #e7e7e7;
$medium-gray: #7c7c7b;
$dark-gray: #505050;

/* Fonts */
$font-book: "Gotham Rounded Book";
$font-medium: "Gotham Rounded Medium";
$font-bold: "Gotham Rounded Bold";

/* Structure */
$container-max-width: 700px;
$padding: 20px;

html, body { width: 100%; height: 100%; }

body {
  background: $orange url(../img/bg.png) no-repeat;
  background-size: cover;
  background-position: center left;
  font-family: $font-book;
}

#page {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    "header"
    "content"
    "footer";
}

/* Footer */
footer {
  grid-area: footer;
  text-align: center;
  display: flex;
  align-items: center;

  & > div:last-child { flex: 1; text-align: right; }

  .footer-logo {
    svg { width: 80px; height: auto; fill: rgb(255, 255, 255); padding: $padding 0 ($padding / 2) 0;
      path { fill: white; }
    }
  }

  #social-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    a, a:visited {
      width: 24px; height: 24px; border: 1px solid white; border-radius: 50%; display: flex; align-items: center; justify-content: center; margin-left: 8px;
    }
    svg { width: 16px; height: 16px; fill: white; }
  }
}
main {
  grid-area: content;
}
.page-container {
  width: 100%;
  max-width: $container-max-width;
  margin: 0 auto;

  @media screen and (max-width: $container-max-width) {
    padding: 0 $padding;
  }
}

.svg-definitions {
  height: 0;
  width: 0;
  overflow: hidden !important;
  position: absolute;
}

header {
  grid-area: header;
  width: 100%;
  position: relative;

  .page-container {
    display: flex;
    max-width: 370px;

    @media screen and (max-width: $container-max-width) {
      padding: 0 $padding 0 0;
    }

    & > div:first-child {
  
      img { max-width: 150px; height: auto; margin-top: 10px; }
    }
  
    & > div:last-child {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      
      img:first-child { max-width: 190px; height: auto; margin: 35px 0 20px 20px; }
      img:last-child { max-width: 140px; height: auto; margin-right: 8px; }
    }

  }
}

#quiz {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "quiz"
    "dots";

  .carousel-inner { grid-area: quiz; }
  .progress-circles { grid-area: dots; padding: 0; }
}

h1, h2, h3, h4, .quiz-question, .btn {
  font-family: 'Gotham Rounded Bold';
  font-weight: normal;
  font-style: normal;
}
h2 { font-size: 25px; }

h1, .quiz-question, .intro {
  color: #FFF;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .2);
  text-align: center;
}
.intro { margin-top: 30px; }

h3, h3.texto { 
  color: $dark-gray;
  font-size: 21px;
  margin-top: 30px;
  font-family: $font-medium;
}

p, input, button, .results-ratio, .correct-text {
    font-family: 'Gotham Rounded Book';
    font-weight: normal;
    font-style: normal;
}

ol { display:none; }

.results-ratio { color:$dark-gray; }

.sweet-alert button {
  border-radius: 30px;
  padding-top: 15px;
}

.quiz-question {
  width: 100%;
  display: block;
  margin: 20px auto;
  text-align: center;
  font-size: 1.8em;
  line-height: 1.1em;
}

.quiz-answers {
  text-align: center;
  width: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding-bottom: 5px;
}
.quiz-answers .btn {
  // flex: 1;
}

.btn2 {
	margin-top: 25px;
	font-size: 1.6em;
  line-height: 1em;
	border: none;
  font-family: 'Gotham Rounded Medium';
  font-weight: normal;
  font-style: normal;
	padding: 20px 20px;
	border-radius: 30px;
	background-color: $dark-gray;
	color: $light-gray;
}

.sweet-alert button {
  text-transform: uppercase;
  font-weight: 400;
}

.quiz-button.btn {
  margin-top: 10px;
  width: 90px;
  height: 90px;
  background-color: transparent !important;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 50%;
  text-transform: uppercase;
  white-space: normal !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quiz-button.btn:first-child {
	margin-right: 30px;
}

.quiz-button.btn:hover {
  background-color: #0096D2;
  color: #fff;
}

.question-image {
  min-height: 100px;
  max-width: 100px;
  margin: 15px auto 0 auto;

  @media screen and (min-width: $container-max-width) {
    min-height: 160px;
    max-width: 160px;
    margin: 25px auto 0 auto;
  }
}

.results-ratio,
.results-social,
.quiz-title,
.quiz-result-title
{
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px !important;
}

.question-image img {
  padding-top: 0px !important;
}

.results-ratio,
.results-social,
.quiz-title, 
.results-message { }

.image-credit {
  font-size: 12px;
  color: #696969;
  font-weight: 400;
  text-align: right;
  max-width: 1100px;
  margin: 0 auto;
}
.results-social{
 display: table;
}
.correct-text {
  margin-top: 10px;
  font-style: normal;
  font-family: Arial,'Gotham Rounded Book', Georgia, serif;
  line-height: 1.2em;
}

.results-message {
  font-weight: normal;
  font-family: 'Gotham Rounded Medium', Georgia, serif;
  font-size: 1.3em;
  line-height: 1.3em;
  color: #FFF;
  margin: 10px auto 0px auto;
  text-align: center;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .2);
}

.share-title {
  color: #FFF;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  & > span {
    margin-right: 20px;
    display: inline-block;
    font-family: $font-medium;
    font-size: 1em;
  }

  & > a {

    
    svg {
      fill: white;
      width: 22px;
      height: 22px;
    }
  }
}

.ctardsl {
  font-weight: normal;
  font-family: 'Gotham Rounded Medium', Georgia, serif;
  font-size: 1em;
  line-height: 1.3em;
  background: white;
  margin: 16px auto 0px auto;
  text-align: center;
  padding-top: 0px !important;
  color: $dark-gray;
  max-width: 530px;
  overflow: hidden;

  .cta-text {
    padding-right: 170px;
    text-align: left;
    padding-top: 20px;
    color: $medium-gray;

    b {
      font-weight: normal;
      font-family: $font-bold;
      font-size: 1.5em;
      line-height: 1.5em;
    }

    span {
      color: $orange;
      font-size: 1.3em;
      line-height: 1.1em;
      font-family: $font-bold;
    }

    @media screen and (min-width: $container-max-width) {
      font-size: 1.4em;
      padding-right: 230px;
      padding-left: 20px;
      line-height: 1.2em;

      b { font-size: 2em; line-height: 1.3em; }
      span { font-size: 1.8em; line-height: .9em; }
    }
  }
}

.cta-actions {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;

  & > div:first-child {
    display: flex;
    align-items: flex-end;
    
    img { 
      max-width: 160px;
      height: auto;
      margin-top: -80px;

      @media screen and (min-width: $container-max-width){
        max-width: 300px;
        height: auto;
        margin-top: -160px;
        margin-right: -70px;
      }
    }
    & > div:first-child {
      flex: 1;
      font-family: $font-book;
      font-size: 28px;
      letter-spacing: 3px;
      padding: 0 0 8px 0;

      span {
        font-size: 1rem;
        letter-spacing: 0;
        font-family: $font-medium;
        padding-bottom: 6px;
        display: inline-block;
      }

      @media screen and (min-width: $container-max-width){
        font-size: 40px;
        letter-spacing: 8px;
        padding: 0 0 25px 0;

        span {
          font-size: 1.4rem;
          padding-bottom: 10px;
        }
      }
    }
  }

  &-buttons {
    display: flex;
    padding: 0 10px 20px 10px;
  }
}

.ctardsl .btn2 {
  margin: 10px auto 0px auto;
  font-size: 1em;
  line-height: 0.5em;
  border: none;
  font-family: 'Gotham Rounded Medium';
  font-weight: normal;
  font-style: normal;
  padding: 20px 20px 15px;
  border-radius: 30px;
  background-color: $dark-gray;
  color: #FFF;
  display: block;

  &:hover {
    text-decoration: none;
  }

  @media screen and (min-width: $container-max-width){
    min-width: 225px;
  }
}

.legenda-promo {
  color: white;
  font-size: .9em;
  text-align: center;
  margin-top: 8px;
}


.resptec {
  margin: 10px auto;
  color: $dark-gray;
  font-size: 10px;
  text-align: center;
  font-weight: normal;
  font-family: 'Gotham Rounded Book', Arial, Georgia, serif;
}

.quiz-title {
  font-size: 60px;
  font-weight: 300;
  margin-top: 100px;
  margin-bottom: 30px;
}

h2.quiz-result-title {
  /* font-size: 36px;
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #FFF;
  font-weight: bold;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .2); */
  display: none;
}

.results-ratio {
  margin: 0px auto;
  font-size: 22px;
  line-height: 1.1em;
  font-family: $font-bold, Arial, Helvetica, sans-serif;
}

.results-social {
  width: 100%;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
#social-text{
  margin-bottom: 15px;
  font-weight: normal;
  font-family: 'Gotham Rounded Medium', Georgia, serif;
  color: white;
  font-size: 1.1em;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .2);

  @media screen and (min-width: $container-max-width) {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto; 
  }
}

.results-social a:not(:first-child) {
  margin-left: 20px;
}

.results-social a.twitter{
  margin-left: 0px !important;
}

.link-empresas {
  color: $medium-gray;
  display: block;
  background: white;
  text-align: center;
  padding: 10px 20px;
  margin-bottom: 10px;
  font-family: $font-book;

  &:hover {
    color: black;
  }

  @media screen and (min-width: $container-max-width) {
    padding: 20px;
    margin-bottom: 0;
  }
}

.progress-circles {
  position: relative;
  margin: ($padding / 2) auto 0 auto;
  display: none;
}

.progress-circles.show {
  display: block;
}

.show{
 display:table !important;
}

.progress-circles li{
  list-style: none;
  display: inline-block;
  background: $dark-gray;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-right: 10px;
}
.progress-circles li.dark{
	background-color: #FFF;
}

.sweet-alert {
  margin-top: -251px !important;
  position: absolute;
}

@media (max-width: 540px){
  .quiz-question{
    font-size: 22px;
  }
  .sweet-alert {
    margin-top: -251px !important;
    position: absolute;
  }
}